* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./img/bg.jpg);
  background-size: cover;
  background-position: center;
}

.review {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: #eee;
  text-transform: capitalize;
  text-align: center;
  padding: 40px 0;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  color: #222;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  width: 75%;
  margin: 0 auto;
  font-size: 15px;
  padding: 30px 50px;
  padding-left: 80px;
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;

  border-top-left-radius: 40px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 40px;

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  transform: skewX(-12deg);
}

.card__shap {
  width: 120px;
  height: 120px;
  float: left;

  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);

  transform: translateX(-40px) skewX(12deg);

  position: relative;
  overflow: hidden;
}

.card__img {
  height: 100%;
  transform: translateX(-30px) scale(1.4);
  transition: all 0.5s;
  backface-visibility: hidden;
}

.card__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  backface-visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.card:hover .card__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.card:hover .card__img {
  transform: translateX(-30px) scale(1);
  filter: blur(3px) brightness(80%);
}
.card__text {
  transform: skewX(12deg);
}
